<%= link_to "Campaigns", :root, class: 'breadcrumb' %>
<h3>Campaign ”<%= @campaign.code %>”</h3>

<div class="card-container">
  Candidates

  <ul>
    <% @candidate_votes.each do |candidate| %>
      <li class="single-candidate">
        <span class="candidate-name">
          <%= candidate.code %>
        </span>
        <span class="candidate-stats">
          Votes: <%= candidate.valid_votes %>
        </span>
        <span class="candidate-stats">
          Invalid votes: <%= candidate.invalid_votes %>
        </span>
      </li>
    <% end %>
  </ul>

  <%= link_to "back", :root %>
</div>
